
html {
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: auto;
}
.navbar{
padding: 10px 0px;
background-color: #006959;
display: flex;
justify-content: space-around;
color: white;
font-size: 30px;
box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.25);

}

   .navbar-item {
text-align: center;
  }
   .fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
   }

    a{
        color: white;
        text-decoration: none;
    }

    a:hover{
        color: black;
        text-decoration: none;
        cursor: pointer;
        transition: ease-in 0.3s;
        transform: scale(1.05);
        
}









.container {
    min-width: 580px;
    min-height: 304px;
    color: black;
    margin: 0 auto;
    padding: 25px 25px;
    border-radius: 5px;
    z-index: 2;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
}

.input-container{
    position: relative;
    top: 20px;
}
h1{
    font-size: 30px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

/* form */
.form{
    width: 480px;
}

label {
    font-weight: bold;
    margin-left: 10px;
}

input {
    width: 95%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    background-color: #fff;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}

/* button */
button {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    margin-top: 15px;
    border: none;
    text-transform: uppercase;
    background: #006959;
    color: white;
    cursor: pointer;
    outline: none;

}

button:hover {
    filter: brightness(70%);

}
.modal-container{
    background: rgba(0, 0, 0, 0.6);
    display: none;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
}
.show-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

    .modal{
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
        max-width: 95%;
        width: 500px;
        animation: modalopen 1s; 
}


.add-button{
    color: white;
}

.add-button:hover{
    color: black;
    cursor: pointer;
    transition: ease-in 0.3s;
    transform: scale(1.05);
 
}
    @keyframes modalopen {
        form{
            opacity: 0;
        }

        to{
            opacity: 1;
        }
    }

    .close-icon {
        float: right;
        color: white;
        font-size: 24px;
        position: relative;
        top: 13px;
        right: 13px;
        cursor: pointer;
    }

    .modal-header{
        background-color: rgb(82, 115, 167);
        color: white;
        padding: 5px;
    }
    h3{
        margin: 5px;
        text-align: center;
        font-size: 25px;
    }

.modal-content {
    padding: 20px;
    background: whitesmoke;
}

.suggeted-list-li{
    font-size: 20px;
}
.suggeted-list-li:hover{
    color: #006959;
    cursor: pointer;
}

/* countdown */
ul{
    margin-left: -45px;
}

li{
    display: inline-block;
    font-size: 30px;
    list-style-type: none;
    padding: 10px;
    text-transform: uppercase;
}
li span {
    display: block;
    font-size: 80px;
    text-align: center;
}

/* complete  */
.complete {
    position: relative;
    top: 60px;
}

.complete-title {
    animation: complete 3s infinite;
    
 
}

@keyframes complete {
    0%{
        color: red;
    }
    50%{
        color: green;
        transform: scale(1.5);
    
}
75%{
    color: blue;
}
100%{
    color: purple;
}
}

/* media query: large smartphone */

@media screen and (max-width:750px) {
    .img{
        height: 100vh;
        width: 100vw;
    }

    .container{
        min-width: unset;
        width: 95vw;
        min-width: 245px;
        padding: 20px;
        margin: 10px;
    }
    .navbar {
        padding: 10px 20px;
        font-size: 21px;
        align-items: center;
      }

    .input-container{
        top: unset;
    }

    .countdown{
        position:relative;
        top: 10px;
    }
    .form {
        width: unset;
    }
    input{
        width: 95%;
    }
    h1{
        font-size: 20px;
    }
li{
        font-size: 15px;
    }

    li span{
        font-size: 40px;
    }
}